@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #e5e5e5;
}

@theme {
  --font-nunito: 'Nunito Sans', sans-serif;
  --font-arial: Arial, Helvetica, sans-serif;

  --color-primary-text-light: #ffffff;
  --color-primary-text-dark: #282b31;
  --color-secondary-text: #676c75;
  --color-secondary-text-light: #999ea8;
  --color-accent-text: #5586f2;
  --color-primary-bg: #f8f9fa;
  --color-body-bg: #e5e5e5;
  --color-accent-bg: #ff487626;
  --color-border-dark: #e7e8ea;
}

@layer components {
  .header__link {
    @apply text-[0.9375rem] hover:underline;
  }

  .button {
    @apply font-arial text-primary-text-dark bg-primary-bg h-[50px] cursor-pointer rounded-md text-[1.0625rem]/5 font-semibold tracking-[1px] shadow-[0_6px_12px_#282b3114] hover:scale-[1.02];
  }

  .button_gradient {
    @apply text-primary-text-light min-w-[167px] bg-linear-[135deg,#ff8e64,#ffe641] font-normal;
  }

  .button__timer {
    @apply flex h-[50px] w-[50px] cursor-pointer items-center justify-center rounded-full border-none;
  }

  .footer__social-ref {
    @apply border-r-border-dark flex h-10 w-[39.3px] items-center justify-center border-r-[0.5px];
  }
}
