@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #e5e5e5;
}

@theme {
  --color-primary-text-light: #ffffff;
  --color-primary-text-dark: #282b31;
  --color-secondary-text: #676c75;
  --color-secondary-text-light: #999ea8;
  --color-accent-text: #5586f2;
  --color-primary-bg: #f8f9fa;
  --color-body-bg: #e5e5e5;
  --color-accent-bg: #ff487626;
  --color-border-dark: #e7e8ea;
  --color-border-focus: #469af4;
}

@layer components {
  .button {
    @apply text-primary-text-dark bg-primary-bg h-[50px] cursor-pointer rounded-md pt-[1px] text-[1.0625rem]/[1em] font-bold tracking-[1px] hover:scale-[1.02];
  }

  .button_gradient {
    @apply text-primary-text-light bg-linear-[135deg,#ff8e64_0%,#ffe641_100%];
  }

  .button__timer {
    @apply flex h-[50px] w-[50px] cursor-pointer items-center justify-center rounded-full border-none hover:scale-[1.02];
  }
}
